@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --colorBlueDark: #053742;
  --colorBlueMedium: #39a2db;
  --colorBlueSoft: #a2dbfa;
  --colorWhite: #e8f0f2;
  --font-family-principal: "Poppins", sans-serif;
}

body {
  background-color: var(--colorWhite);
  background-image: radial-gradient(
      var(--colorBlueMedium) 1.85px,
      transparent 1.85px
    ),
    radial-gradient(var(--colorBlueMedium) 1.85px, var(--colorWhite) 1.85px);
  background-size: 74px 74px;
  animation: change-position 2s ease-in-out 0.1s infinite alternate-reverse;
  user-select: none;
}

@keyframes change-position {
  to {
    background-position: 37px 0, 0 37px;
  }

  from {
    background-position: 0 37px, 37px 0;
  }
}
